@import 'bootstrap/scss/bootstrap';
 *{
  background-color: hsl(210, 11%, 15%);
 }
.bg-orange{
  background-color: orange;
}

.contenedor{
  background-color: black;
}
.menu-nav{
  font-size: 10px;
  margin: 0;
}
$accordion-bg:  yellow!important
