@import 'bootstrap/scss/bootstrap';
 *{
  background-color: #212529;
  color: white;
 }
.bg-orange{
  background-color: orange;
}

.contenedor{
  background-color: black;
}

$accordion-bg:  yellow!important
