@import 'bootstrap/scss/bootstrap';
 *{
  background-color: hsl(210, 11%, 15%);
 }
.bg-orange{
  background-color: orange;
}

.contenedor{
  background-color: black;
}

$accordion-bg:  yellow!important
